<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>as.vit9696.AppleALC</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>as.vit9696.AppleALC</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>Hypereitan - ALC269VC for Thinkpad X230 i7</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQEBJx6gAScfkAFHHEABRx0BAUce
					EAFHH5ABVxxQAVcdEAFXHiEBVx8BAYcccAGH
					HRABhx6hAYcfAQFHDAI=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>18</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAg==
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>
					AwAAAA==
					</data>
					<key>Codec</key>
					<string>5T33Z0 - Lenoco T530 with Dock 4337/4338</string>
					<key>CodecID</key>
					<integer>283902569</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAIBVxwgAVcd
					EAFXHiEBVx8DAVcMAgEnHDABJx0BASceoAEn
					H5ABhxxAAYcdEAGHHoEBhx8DAZccYAGXHZAB
					lx6BAZcfJAG3HHABtx1AAbceAQG3HyQ=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>39</integer>
					<key>WakeConfigData</key>
					<data>
					AUcMAgFXDAI=
					</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleALC</string>
			<key>IOMatchCategory</key>
			<string>AppleALC</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
