<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0) (No Ext. Display)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>AAPL,slot-name</key>
				<string>built-in</string>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>framebuffer-patch-enable</key>
				<integer>1</integer>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>model</key>
				<string>Intel UHD Graphics 620</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0) (HDMI)</key>
			<dict>
				<key>#device_type</key>
				<string>VGA compatible controller</string>
				<key>#disable-external-gpu</key>
				<data>AQAAAA==</data>
				<key>AAPL,ig-platform-id</key>
				<data>AACbPg==</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device-id</key>
				<data>mz4AAA==</data>
				<key>enable-hdmi20</key>
				<data>AQAAAA==</data>
				<key>enable-hdmi-dividers-fix</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-busid</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con0-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con0-flags</key>
				<data>mAAAAA==</data>
				<key>framebuffer-con0-index</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con0-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con0-type</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con1-busid</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-flags</key>
				<data>hwEAAA==</data>
				<key>framebuffer-con1-index</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con1-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con1-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con2-busid</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-flags</key>
				<data>hwEAAA==</data>
				<key>framebuffer-con2-index</key>
				<data>AgAAAA==</data>
				<key>framebuffer-con2-pipe</key>
				<data>EgAAAA==</data>
				<key>framebuffer-con2-type</key>
				<data>AAgAAA==</data>
				<key>framebuffer-con3-busid</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con3-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con3-flags</key>
				<data>IAAAAA==</data>
				<key>framebuffer-con3-index</key>
				<data>/////w==</data>
				<key>framebuffer-con3-pipe</key>
				<data>AAAAAA==</data>
				<key>framebuffer-con3-type</key>
				<data>AQAAAA==</data>
				<key>framebuffer-fbmem</key>
				<data>AAAAAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AACQAw==</data>
				<key>framebuffer-unifiedmem</key>
				<data>AAAAgA==</data>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>model</key>
				<string>Intel UHD Graphics 620</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
